<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.studentMamagement.mapper.BuildMapper">

    <resultMap type="com.design.studentMamagement.pojo.Build" id="BuildMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BuildMap">
        select
          id, name, images, created_at, created_by
        from build
        where id = #{id}
    </select>



    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into build(name, images, created_at, created_by)
        values (#{name}, #{images}, now(), #{createdBy})
    </insert>
        <!--用select进行分页查询-->
      <select id="getPageListByCondition" resultMap="BuildMap">
        select *  from build
            <!--排序 desc是降序-->
        order by
        id
        <!--分页查询-->
        limit  #{page.startNum} , #{page.pageSize}
    </select>
     <!--分页查询条数-->
    <select id="getPageListCount" resultType="int">
        select count(id) as count from build   
    </select>

   

    <!--通过主键修改数据-->
    <update id="update">
        update build
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="images != null and images != ''">
                images = #{images},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from build where id = #{id}
    </delete>
    <select id="getBuildList" resultMap="BuildMap">
        select * from build where created_at is not null;
    </select>
    <select id="getByName" resultMap="BuildMap">
        select * from build where name=#{name} ;
    </select>
</mapper>

